# Testing dependencies
docker-compose
flake8
# pin hypothesis since we don't want to switch to testing p37-only until we move tron to py37
hypothesis==4.57.1
mock
mypy
pre-commit
pytest
pytest-cov
pytest-mock
types-pyyaml
types-requests
